<div class="contributor-face">
    <img src="/images/face2.jpg" alt="thumbnail" width="300" height="300"/>
    <ul>
        <li><a href="http://www.linkedin.com/pub/keichi-takahashi/52/889/b81" target="_blank"><i class="icon-linkedin"></i>Linkedin</a></li>
        <li><a href="http://www.facebook.com/keichi.t" target="_blank"><i class="icon-facebook"></i>Facebook</a></li>
        <li><a href="http://twitter.com/_keichi_" target="_blank"><i class="icon-twitter"></i>Twitter<a></li>
    </ul>
</div>
<div class="contributor-info">
    <h1>Keichi Takahashi</h1>
    <p>Keichi Takahashi is an enthusiastic fan of programming.
    He was fascinated by the art of coding at the age of 12,
    and started learning various programming languages and
    technologies. Keichi is also working at a software 
    house, and has experienced the professional development 
    of factory automation software, image analysis, 
    scientific computing and many other products.</p>

    <p>In his private life, he loves to take pictures, 
    to watch movies, and of course hanging around with his 
    friends. Keichi was born in Vienna(Austria), and spent 
    his childhood in that beautiful city, so he is able to
    communicate with German speaking and English speaking 
    people.</p>
</div>