body {
  font-family: "Vollkorn", serif;
}
a {
  text-decoration: none;
  color: #eee;
}
a:hover {
  color: #555;
}
p {
  font-size: 19px;
  line-height: 1.4em;
  text-indent: 0.5em;
  margin: 1em 0;
  color: #ddd;
}
p a {
  text-decoration: underline;
  color: #fff;
}
p a:hover {
  color: #e44a24;
}
p.lead {
  font-weight: bold;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin: 0.7em 0;
  color: #f0f0f0;
  font-family: "Arimo", sans-serif;
}
h1 {
  font-size: 36px;
}
h2 {
  font-size: 27px;
}
h3 {
  font-size: 22px;
}
h4 {
  font-size: 16px;
}
h5 {
  font-size: 13px;
}
h6 {
  font-size: 11px;
}
#contents {
  position: relative;
  width: 70%;
  margin: 0 auto;
  float: left;
}
#contents h1 {
  margin: 15px 0px;
}
#contents .share {
  margin: 5px;
}
#contents .share a {
  vertical-align: top;
}
#contents .share .fb_iframe_widget {
  vertical-align: top;
}
#contents .flexslider {
  margin: 0px auto 30px auto;
}
#mapinfo {
  display: none;
}
#gmap {
  height: 300px;
  margin: 10px auto;
}
#gmap .location-name {
  color: #000;
  font-size: 1.5em;
  margin: 5px 0px 10px 0px;
  text-shadow: 1px 1px 0px #222;
}
#gmap .location-address {
  color: #555;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}
#gmap .location-gmap a {
  font-size: 0.8em;
  color: #666;
}
#gmap .location-gmap a:hover {
  font-size: 0.8em;
  color: #eee;
}
#contents .info {
  font-family: "Arimo", sans-serif;
  font-size: 20px;
  color: #888;
  border-bottom: 1px solid #000;
  -webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.2);
  box-shadow: 0 1px 0 rgba(255,255,255,0.2);
}
#contents .info a {
  color: #fff;
  text-decoration: none;
}
#contents .post > ul,
#contents .post > ol {
  list-style-type: disc;
  margin-left: 25px;
  margin-bottom: 10px;
}
#contents .post > li {
  line-height: 20px;
}
#contents .post iframe,
#contents .post img {
  margin: 20px auto;
  display: block;
}
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#sidebar {
  width: 25%;
  float: right;
  border-left: 2px dotted #888;
  padding-left: 4px;
}
#sidebar ul li.widget-container {
  list-style-type: none;
}
#sidebar ul li.widget-container h2 {
  margin: 20px 0px 0px 0px;
  border-top: 2px solid #fff;
  padding-top: 5px;
  font-size: 1.6em;
}
#sidebar ul li.widget-container ul li {
  list-style-type: none;
  border-bottom: 1px solid #555;
  margin: 15px auto;
  font-size: 1.2em;
}
#sidebar ul li.widget-container ul li a {
  display: block;
}
#sidebar ul li.widget-container ul li a:hover {
  color: #fff;
  background-image: url("img/hover_bg.png");
}
#sidebar ul li.widget-container img {
  width: 100%;
  height: auto;
}
@media screen and (max-width: 480px) {
  #container {
    float: none;
    width: 100%;
  }
  #contents {
    float: none;
    width: 90%;
    margin: 0 auto;
  }
  #sidebar {
    float: none;
    width: 90%;
    margin: 0 auto;
  }
}
