*{
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-size: 1.0em;
    font-style: normal;
    text-decoration: none;
    color: #ccc;
}

a:hover {
    text-decoration: underline;
}

body {
    background-color: rgb(50, 53, 58);
    font-family: "Arial", "Geneva", "Lucida Grande", "Verdana", sans-serif; 
}

#wrapper {
    max-width: 1000px;
    width: 90%;
    margin: 15px auto;
}

#container {
    position: relative;
    margin-top: 30px;
    margin-bottom: 20px;
}

.post-box {
    width: 300px;
    height: 350px;
    border: none;
    margin: 10px;
    display: inline-block;
    background-color: #333;
    color: #ccc;
    position: relative; 
    
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;

    -webkit-box-shadow: 0 1px 4px #000;
    -moz-box-shadow: 0 1px 4px #000;
    box-shadow: 0 1px 4px #000;
}

#container.jsReady .post-box {
    position: absolute;
    margin: 0;
}

.post-box img {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    -moz-border-top-left-radius: 3px;
    -moz-border-top-right-radius: 3px;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
}

.post-box .contenthover {
    color: #fff;
    padding: 20px;
    font-style: italic;
    background-image: url('/images/quote.png');
    background-repeat: no-repeat;
    text-indent: 50px;
    line-height: 1.2em;
    display: none;
}

.post-box .title-author {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    height: 80px;

    border-bottom: 1px solid #a0a0a0;
}

.post-box .title-author h2.post-title a {
    font-size: 1.2em;
    color: #eee;
}

.post-box .title-author .post-author {
    margin: 10px auto;
}

.post-box .title-author .post-author .post-author-by {
    color: #888;
    font-style: italic;
}

.post-box .meta {
    font-size: 1em;
    border-top: 1px solid #000;
    
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 0px;
    
    vertical-align: middle;
}

.post-box .meta .meta-stats {
    float: left;
    width: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.post-box .meta .meta-favorite {
    float: right;
    width: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    border-left: 1px solid #a0a0a0;
}

.post-box .meta .meta-favorite i {
    color: #E9A735;
}

.post-box .meta .meta-view i {
    margin-left: 7px;
    margin-right: 5px;
}

.post-box .meta .meta-view {
    margin-right: 5px;
}

.post-box .meta .meta-like i {
    margin-right: 5px;
}

.post-box .meta .meta-like {
    margin-right: 5px;
}

#footer {
    border-top: 1px solid #777;
    padding-top: 5px;
    text-align: center;
    font-size: 0.9em;
    display: none;
    text-shadow: 0px 1px 0px #000;
}

#navigation {
    display: none;
    background-color: #eee;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: : 5px;

    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4) , 0 0 10px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4) , 0 0 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4) , 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #aeaeae;

    background-color: #dadada;
    background-image: -moz-linear-gradient(top, #eeeeee, #bbbbbb);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#eeeeee), to(#bbbbbb));
    background-image: -webkit-linear-gradient(top, #eeeeee, #bbbbbb);
    background-image: -o-linear-gradient(top, #eeeeee, #bbbbbb);
    background-image: linear-gradient(to bottom, #eeeeee, #bbbbbb);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffeeeeee', endColorstr='#ffbbbbbb', GradientType=0);

    text-shadow: 0px 1px 0px #fff;
    height: 25px;
}

#navigation li {
    list-style-type: none;
    float: left;

    background-color: #dadada;
    background-image: -moz-linear-gradient(top, #eeeeee, #bbbbbb);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#eeeeee), to(#bbbbbb));
    background-image: -webkit-linear-gradient(top, #eeeeee, #bbbbbb);
    background-image: -o-linear-gradient(top, #eeeeee, #bbbbbb);
    background-image: linear-gradient(to bottom, #eeeeee, #bbbbbb);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffeeeeee', endColorstr='#ffbbbbbb', GradientType=0);

    border-right: 1px solid #000;
    border-left: 1px solid #eeeeee;
}

#navigation li:active {
    background-image: -moz-linear-gradient(top, #bbbbbb, #eeeeee);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#bbbbbb), to(#eeeeee));
    background-image: -webkit-linear-gradient(top, #bbbbbb, #eeeeee);
    background-image: -o-linear-gradient(top, #bbbbbb, #eeeeee);
    background-image: linear-gradient(to bottom, #bbbbbb, #eeeeee);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffbbbbbb', endColorstr='#ffeeeeee', GradientType=0);
}

#navigation li a {
    display: block;
    padding-top: 5px;
    padding-left: 5px;
    width: 150px;
    height: 20px;
    text-align: center;
}

#navigation .nav-item-title {
    font-size: 0.9em;
    font-weight: bold;
    color: #555;
}

#navigation .nav-item-desc {
    font-size: 0.7em;
    display: none;
}

#navigation a:hover {
    text-decoration: none;
}

#header {
    height: 40px;
    display: none;
    margin-bottom: 10px;
    position: relative;
}

#header h1 {
    position: absolute;
    left: 50%;
    margin-left: -100px;
    width: 200px;
    height: 40px;

    background-image: url('/images/logo.png');
    background-repeat: no-repeat;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

#auth {
    float: right;
    position: absolute;
    bottom: 0;
    right: 0;
}

#loginlinks {
    text-align: center;
}

#loginlinks ul {
    list-style-type: none;
}

