<div class="post-box">
	<img src="/images/face.jpg" alt="thumbnail" width="300" height="200"/>
	<div class="ribbon-wrapper"><div class="ribbon ribbon-green">Engineer</div></div>
            
	<div class="title-author">
		<h2 class="post-title"><%- link_to('Keichi Takahashi', '/') %></h2>
		<div class="post-tags">
			<span class="post-tag tag-blue">Programming</span>
			<span class="post-tag tag-green">Translation</span>
			<span class="post-tag tag-red">Photography</span>
		</div>
	</div>
</div>