
<div id="loginlinks">
	<ul>
		<li><a href="/auth/facebook/"><img src="/images/fb_login.png" /></a></li>
    	<li><a href="/auth/twitter/"><img src="/images/twitter_login.png" /></a></li>
	</ul>
</div>

