<div id="privacy-policy">
<h1>Trad NaraPrivacy Policy</h1>
<ul>
	<li><h1>本サイトの目的 (Purpose of this website)</h1>
		<ul>
			<li>本サイトは、日本の奈良における伝統的な文化・美観・町並み・景色などを英語によって配信することを目的としています。本サイト構築に携わった方々も広く世界中に伝えることで、個人単位でも世界と繋がることを目的としています。</li>
			<li>This website, “TradNara”, is aimed to distribute English information of views, rooftops, beauty culture etc. of traditional Nara, Japan. We also try to introduce dedicated individuals who contributed to this project to the whole world.</li>
		</ul>
	</li>

	<li><h1>本著作物の取り扱い (Handling of copyrighted materials)</h1>
		<ul>
			<li>第三者の著作物の利用について
				<ul>
					<li>本サイトの著作物は基本、本サイトに帰属しますが、第三者の著作物と知らずに利用していた場合、若しくは知らずに「撮影禁止」場所で撮影等を行なっていた場合、それらの行為が著作権者による通知などにより分かり次第、早急に本サイトから除外するものとします。</li>
					<li>Copyrighted materials of this website shall be the property of TradNara. But if, by any chance, some of these materials were third-party copyrighted or picture taken at camera forbidden place, these will be removed from this site as soon as we know.</li>
				</ul>
			</li>
			<li>著作権の利用について (Utilization of copyrighted materials)
				<ul>
					<li>本著作物の二次利用については「クリエィティブ・コモンズルール」を適用します。</li>
					<li>Creative Commons Attribution 3.0 License is applied for secondary use of copyrighted materials on this website.</li>
				</ul>
			</li>
		</ul>
	</li>

	<li><h1>本サイトのリンクについて (About links to this website)</h1>
		<ul>
			<li>本サイトのリンクは原則として自由です。リンクを貼られる場合、一度こちらにご連絡をいただければ、アイコンなどをお渡しすることができます。但し、リンク元のウェブページの内容、リンクの方法、リンク元企業・団体によって、お断りする場合もございます。</li>
			<li>You basically do not need any permissions to link to this website. We are able to provide materials such as digital icons on your request. However we may decline your links depending on the content of the web page, the method of the link, and the organization.</li>
		</ul>
	</li>

	<li><h1>個人情報の取り扱い (Handling of personal information)</h1>
		<ul>
			<li>個人情報の取り扱いは、利用目的を定めたうえで個人情報を取り扱い、収集に関しては、法令及びその他の規範に沿って、利用目的を本人に通知し、同意を得るなどの工夫を講じます。個人情報の利用は、上記に定めた利用目的から逸脱しない範囲で利用します。</li>

			<li>We deal with personal information under the purpose of its utilization, which we determine carefully, and collect this information by notifying the users of the purpose of utilization and ask for consent along with the Japanese laws and norms. Personal information is used so that we do not deviate the limits restricted by the purpose of utilization.</li>
		</ul>
	</li>

	<li><h1>個人情報の管理と保護について (Policy on management and protection of personal information)</h1>
		<ul>
			<li>保有した個人情報の不正アクセス、紛失、改ざん、漏洩などを防ぐ安全措置、又は是正措置に務めるものとします。本人の同意を得ることなく、第三者に個人情報の提供をすることは致しません</li>
			<li>We make maximum effort to secure personal information from unauthorized access, loss, falsification and leakage. We also make constant improvements of these security measures. Personal information will be never provided to third parties without the consent of users.</li>
		</ul>
	</li>

	<li><h1>法令遵守 (Compliance)</h1>
		<ul>
			<li>日本国の個人情報保護に関する法律・法令について順守いたします。</li>
			<li>We comply with the laws and regulations in Japan.</li>
		</ul>
	</li>

	<li><h1>個人情報保護に関するお問い合せ窓口 (Contact for the protection of personal information)</h1></li>
</uL>
</div>