@import 'nib'
@import 'tools'

global-reset()

body
  background-color: #3b3f44
  background-image: url('/images/bg.png')
  background-attachment: scroll
  color: #d0d0d0

#wrapper
  margin-top: 5px
  margin-bottom: 5px

#container
  position: relative
  margin: 90px auto 20px
  max-width: 1000px
  width: 90%

#footer
  line-top: 1.0 0.2

#footer-miscs
  font-size: 12px
  text-align: center
  margin: 5px auto
  span
    margin-left: 3px
    margin-right: 3px
    color: #777

#footer-copyright
  font-size: 12px
  text-align: center
  margin: 2px auto

#navigation
  position: fixed
  top: 50px
  z-index: 1000
  width: 100%
  border: 1px solid #aeaeae
  border-radius: 5px
  background-color: #dadada
  background: linear-gradient(top, #eeeeee, #bbbbbb)
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.9)
  text-align: center
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.8)
  li
    display: inline-block
    zoom: 1
    *display: inline
    background-color: #dadada
    background: linear-gradient(top, #eeeeee, #bbbbbb)
    list-style-type: none
    letter-spacing: normal
    &:active
      background: linear-gradient(bottom, #eeeeee, #bbbbbb)
    a
      display: block
      padding-top: 5px
      padding-left: 5px
      height: 20px
      text-align: center
      color: #555
      font-weight: bold
      font-size: 0.9em
      margin-left: 10px
      margin-right: 10px
      text-decoration: none;

#header
  position: fixed
  top: 0px
  left: 0px
  z-index: 1000
  margin-bottom: 10px
  height: 50px
  background-color: #505050
  width: 100%
  a h1
    width: 284px
    height: 40px
    margin: 5px auto
    background-image: url('/images/logo.png')
    hide-text()

#user-info
  position: absolute
  right: 30px
  top: 10px
  background-color: #333
  color: #eee
  box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.5)
  border-radius: 4px
  font-weight: bold
  font-size: 13px
  padding: 5px 10px
  img
    vertical-align: middle
    margin-right: 10px

.clearfix
  clearfix()

#shade
  fixed: top left
  width: 100%
  height: 100%
  background-color: rgba(0, 0, 0, 0.35)
  z-index: 1000
  display: none

#modal-contributor
  absolute: top 50% left 50%
  width: 720px
  height: 350px
  margin-top: -175px
  margin-left: -360px
  z-index: 1100
  display: none
  background-color: #555
  border-radius: 5px
  box-shadow: 0 0 10px rgba(0, 0, 0, 1.0)
  .contributor-face
    padding: 10px
    float: left
    width: 300px
    height: 330px
    line-right: 1.0 0.2
    img
      border-radius: 5px
    ul
      width: 300px
    li
      list-style-type: none
      display: inline-block
      
  .contributor-info
    float: right
    font-size: 15px
    padding: 15px
    width: 350px
    height: 320px
    overflow: scroll
    color: #eee
    h1
      font-size: 40px
      font-weight: bold
      display: block
      text-shadow: 0 -1px 0 rgb(0, 0, 0)
    p
      text-indent: 0.5em
      margin-top: 1em
      margin-bottom: 1em
      line-height: 20px

@media screen and (max-width: 480px)
  #navigation li
    a
      height: 35px
      margin-left: 5px
      margin-right: 5px
    i
      font-size: 30px
    .nav-item
      display: none
  #header
    position: relative
    margin: 0
  #wrapper
    margin-top: 0    
  #navigation
    position: relative
    top: 0
  #container
    margin-top: 20px
