@import 'nib'
@import 'tools'

body
  font-family: "Arimo", sans-serif

a
  text-decoration: none
  color: #e3e3e3

a:hover
  text-decoration: underline

#container.jsReady .post-box
  position: absolute
  margin: 0

.post-box
  position: relative
  display: none
  margin: 10px
  width: 300px
  height: 350px
  border: none
  border-radius: 5px
  background-color: #444
  box-shadow: 0 2px 4px #000
  color: #ccc
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 1);
  border: 1px solid #000

  img
    border-top-right-radius: 3px
    border-top-left-radius: 3px

.contenthover
  display: none
  padding: 20px
  background-image: url('/images/quote.png')
  background-repeat: no-repeat
  color: #fff
  text-indent: 50px
  font-style: italic
  line-height: 1.2em

.title-author
  margin-top: 20px
  margin-right: 20px
  margin-left: 20px
  height: 80px
  line-bottom: 1.0 0.2
  h2.post-title a
    color: #eee
    font-size: 1.2em
  .post-author
    margin: 10px auto
    color: #eee
  .post-author-by
    color: #888
    font-style: italic

.meta
  margin: 0px 20px 0px 20px
  vertical-align: middle
  font-size: 1em
  a
    text-decoration: none

.meta-stats
  display: inline-block
  padding-top: 10px
  padding-bottom: 10px
  width: 200px
  line-right: 1.0 0.2
  a
    margin-right: 5px
    color: #e8e8e8
  i
    margin-right: 5px
    color: #e8e8e8

.meta-favorite
  display: inline-block
  padding-top: 5px
  padding-bottom: 5px
  width: 50px
  text-align: center
  i
    color: #E9A735
    font-size: 20px

.post-image-overlay
  background-image: url('/images/overlay.png')

.post-box
  .post-tags
    margin: 5px auto
  .post-tag
    border-radius: 3px
    display: inline-block
    padding: 2px 4px
    font-size: 11.844px
    font-weight: bold
    line-height: 14px
    color: #ffffff
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25)
    white-space: nowrap
    vertical-align: baseline

.post-box .tag-green
  background-color: #468847

.post-box .tag-red
  background-color: #b94a48

.post-box .tag-blue
  background-color: #3a87ad

.post-box .tag-yellow
  background-color: #f89406

#loginlinks
  text-align: center
  ul
    list-style-type: none
  img
    width: 100%
    max-width: 440px

#loading
  margin: 0 auto
  width: 200px
  height: 200px

.ribbon
  transform: rotate(45deg)
  relative: left 3px top 35px
  width: 200px
  padding-top: 6px
  padding-bottom: 6px
  font-size: 15px
  font-weight: bold
  text-align: center
  text-transform: uppercase
  color: #fff
  box-shadow: 0px 0px 3px rgba(0,0,0,0.4)
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25)

.ribbon-blue
  background-color: #5BC0DE
  background: linear-gradient(top, #5BC0DE, #2f96b4)

.ribbon-green
  background-color: #62c462
  background: linear-gradient(top, #62c462, #51a351)

.ribbon-yellow
  background-color: #fbb450
  background: linear-gradient(top, #fbb450, #f89406)

.ribbon-wrapper
  overflow: hidden
  width: 150px
  height: 150px
  absolute: top right
  z-index: 100

#privacy-policy
  width: 70%
  margin: 0 auto
  border-radius: 6px
  box-shadow: inset -1px 1px 2px rgba(0, 0, 0, 0.5), -1px 1px 0 rgba(255, 255, 255, 0.2)
  background-color: rgb(55, 55, 55)
  padding: 1em
  color: #eee
  line-height: 1.4em
  &> h1
    font-size: 35px
  h1
    font-weight: bold
  ul
    list-style-type: disc
  ul ul
    list-style-type: circle
  ul ul ul 
    list-style-type: square
  li
    margin-left: 1em
    // margin-top: 10px
    // margin-bottom: 10px
  &> ul > li
    margin-top: 25px
    margin-bottom: 25px

#contact-team
  width: 550px
  margin: 0 auto